@import "../../Main/Colors.scss";
.Newsletter {
    width: 90%;
    max-width: 1170px;
    height: auto;
    padding: 60px 0;
    background-color: $Black;
    margin: 100px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    h1 {
        color: $White;
        font-size: 45px;
        letter-spacing: 2px;
        font-family: main_sb;
        max-width: 630px;
        line-height: 55px;
        width: 90%;
        margin: auto;
    }
    p {
        font-size: 18px;
        color: $White;
        font-family: main_r;
        letter-spacing: 1px;
        max-width: 775px;
        width: 90%;
        margin: auto;
    }
    .BBlock {
        display: flex;
        justify-content: center;
        button {
            border-radius: 15px;
            padding: 15px 40px;
        }
    }
}
