.Newsletter {
  width: 90%;
  max-width: 1170px;
  height: auto;
  padding: 60px 0;
  background-color: #000000;
  margin: 100px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
}
.Newsletter h1 {
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 2px;
  font-family: main_sb;
  max-width: 630px;
  line-height: 55px;
  width: 90%;
  margin: auto;
}
.Newsletter p {
  font-size: 18px;
  color: #ffffff;
  font-family: main_r;
  letter-spacing: 1px;
  max-width: 775px;
  width: 90%;
  margin: auto;
}
.Newsletter .BBlock {
  display: flex;
  justify-content: center;
}
.Newsletter .BBlock button {
  border-radius: 15px;
  padding: 15px 40px;
}