@import "../../Main/Colors.scss";
.Starter {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    .SectionSplitter {
        display: flex;
        align-items: center;
        gap: 30px;
        .InfoSide {
            display: flex;
            flex-direction: column;
            gap: 30px;
            h1 {
                font-family: main_sb;
                color: $Black_;
                letter-spacing: 1px;
                font-size: 50px;
                line-height: 60px;
            }
            p {
                font-family: main_r;
                color: $Black__;
                font-size: 20px;
                letter-spacing: 1px;
            }
            button {
                border-radius: 10px;
                font-size: 18px;
                color: $White;
                background-color: $Black;
                font-family: main_sb;
                padding: 12px 30px;
                letter-spacing: 1px;
                border: 0;
                cursor: pointer;
                transition: 0.2s;
                &:hover {
                    background-color: $Black_;
                }
            }
            .Details {
                display: flex;
                align-items: center;
                gap: 30px;
                margin-top: 30px;
                .DetCol {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .Num {
                        font-size: 48px;
                        color: $Black_;
                        letter-spacing: 2px;
                        font-family: main_sb;
                    }
                    .Tex {
                        width: 100px;
                        font-size: 18px;
                        letter-spacing: 1px;
                        font-family: main_r;
                        color: $Black__;
                    }
                }
            }
        }
        .ImageSide {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                background: $MainColor;
                border-radius: 30px;
            }
            img {
                position: relative;
            }
        }
    }
}
