.DButton {
  border-radius: 10px;
  padding: 10px 35px;
  background-color: #14d49e;
  color: #ffffff;
  font-family: main_sb;
  font-size: 18px;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
}
.DButton:hover {
  background-color: #10b385;
}