$MainColor: #14d49e;
$MainColor_: #10b385;
$White: #ffffff;
$Black: #000000;
$Black_: #121212;
$Black__: #888888;
$Yellow: #f5ba24;
$Lime: #2fc92b;
$Stroke: #aaa6a6;
$Stroke_: #c8c1c1;
$Whiter: #e6e6e6;
$Whiter_: #e7e7e7;
$Whiter__: #e8e8e8;
