@import "./Main/Colors.scss";

@font-face {
    font-family: main_sb;
    src: url("./Fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: main_r;
    src: url("./Fonts/Poppins-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    user-select: none;
    pointer-events: none;
}
.SecPadder {
    padding: 40px 0;
}
.g-2 {
    width: 30%;
}
.g-4 {
    width: 40%;
}
.g-5 {
    width: 45%;
}
.g-6 {
    width: 50%;
}
.g-7 {
    width: 55%;
}
.g-8 {
    width: 60%;
}
.g-10 {
    width: 70%;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1190px;
    }
}
@media (min-width: 1600px) {
    .container {
        width: 1390px;
    }
}
